@font-face {
  font-family: 'Roboto Slab', serif;
  src: url("ttps://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
}

@font-face {
  font-family: 'ZCOOL KuaiLe', cursive;
  src: url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto Slab', serif;
  font-size: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  text-align: center;
}

a:visited {
  color: inherit;
}

a:active {
  color: inherit;
}

span {
  font-size: 0.7rem;
}

p {
  word-wrap: break-word;
  white-space: normal;
}

section {
  margin-top: 3rem;
}

main {
  padding: 0 5%;
  background-color: #121212;
}

.c-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2a2a2a;
  color: white;
  padding: 1rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.c-navigation__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-navigation__logo span {
  font-family: 'ZCOOL KuaiLe', cursive;
}

.c-navigation .fas {
  font-size: 1.5rem;
  color: white;
}

.games-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-column-gap: 6px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-game-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  background-color: #2b4c8a;
  border-radius: 0.5rem 0.5rem 0 0;
}

.c-game-card__text-wrapper {
  color: #a3a7ad;
  font-weight: bolder;
  padding-left: 0.5rem;
}

.c-game-card__text-wrapper > * {
  margin-top: 1rem;
}

.c-game-card__cover {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

.c-game-card__banner {
  color: white;
  background-color: #2d90ec;
  margin-top: -0.3rem;
  padding: 0.3rem 0;
  border-bottom-left-radius: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.c-game-card__heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-overflow: ellipsis;
}

.c-game-card__heading--small {
  text-transform: none;
}

.c-game-card__info {
  margin: 0;
  color: white;
}

.c-game-card__invitation {
  margin-bottom: 3rem;
}

.c-game-card__publisher {
  margin-bottom: 0rem;
}

.c-game-card__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.c-game-card__discount .order-game__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 1rem;
}

.c-game-card__discount .order-game__price p {
  font-weight: 700;
}

.c-game-card__discount .order-game__price--old {
  text-decoration: line-through;
}

.c-game-card__discount .order-game__price--current {
  color: white;
}

.c-game-card__discount .order-game__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 8rem;
  height: 3rem;
}

.c-game-card__discount .order-game__buttons a, .c-game-card__discount .order-game__buttons button {
  background-color: #2d90ec;
  color: white;
  height: 100%;
  border-radius: 2px;
}

.c-game-card__discount .order-game__buttons a {
  width: 60%;
  padding: 0.5rem 1rem;
}

.c-game-card__discount .order-game__buttons button {
  border: none;
  width: 40%;
  margin-left: 3px;
  font-size: 1.2rem;
}

.c-game-card__discount .order-game__buttons--discount-tag {
  background-color: #2d90ec;
  color: white;
  padding: 0.5rem 0.7rem;
  margin-right: 1rem;
  border-radius: 2px;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.section-header__name, .section-header__link-to-all-offers {
  background-color: white;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
}

.section-header__name {
  text-transform: capitalize;
}

.section-header__link-to-all-offers {
  border: solid 1px white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.7rem;
}

.section-header .fas {
  margin-right: 0.5rem;
  color: #121212;
}

.footer {
  background-color: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a3a7ad;
}

.footer__social-icons {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.footer__social-icons .fab {
  margin-left: 1rem;
}

.footer__link-wrapper {
  margin: 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__link-wrapper a {
  margin: 0.3rem 0;
}

.u-padding--top {
  padding: 1rem 0 !important;
}

.u-margin--top {
  margin-top: 4.4rem !important;
}

.u-margin--zero {
  margin: 0;
}

.u-color {
  background-color: transparent !important;
}
/*# sourceMappingURL=style.css.map */