@font-face {
     font-family: 'Roboto Slab', serif;
    src: url("ttps://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
}

@font-face {
    font-family: 'ZCOOL KuaiLe', cursive;
    src: url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");
}