.c-navigation{

    @include standart-flex(row, space-between, center);
    background-color: $color-grey;
    color: $color-white;
    padding: 1rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    
    &__logo{

        a{
            display: flex;
            flex-direction: column;

            .fas{
                font-size: 2rem;
                text-align: left;
            }
    
        }

    
        span{
            font-family: 'ZCOOL KuaiLe', cursive;
        }
    }

    button {
background-color: transparent;
border: none;
        .fas{
            font-size: 1.5rem;
            color: $color-white;
        }
    }
 
  

    
}