.c-navigation{

    @include standart-flex(row, space-between, center);
    background-color: $color-grey;
    color: $color-white;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;

    &__logo{

        a{
            display: flex;
            flex-direction: column;
    
        }

    
        span{
            font-family: 'ZCOOL KuaiLe', cursive;
        }
    }

    .fas{
        font-size: 1.5rem;
        color: $color-white;
    }
}