.discounted-games {


    
    &-secondary-wrapper {

        @include standart-flex (row, space-between, center);
        margin-bottom: 1rem;

        .discounted-games__heading,
        .discounted-games__link-to-all-offers {
            color: $color-white;

        }

        .discounted-games__link-to-all-offers {

            border: solid 1px white;
            border-radius: 3px;
            padding: 0.3rem 0.5rem;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 0.7rem;
        }
    }

    &-primary-wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 6px;
        align-items: start;
        justify-content: center;
    }

    
}