.c-paid-game{

    max-width: 100%;
    background-color: transparent;
    color: $color-white;
    overflow: hidden ;

    &__cover{
        max-width: 15rem;
        height: auto;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    &__title{
        overflow: hidden ;
    }

    &__publisher{

    }

    &__price-details{

    }
}