

.secondary-wrapper{
    @include standart-flex (row, space-between, center);


     .games-for-selling__heading{
        
         

     }

     .games-for-selling__link-to-all-offers{
         border: 2px solid $color-white;
         padding: 2px 0.5rem;
         text-transform: uppercase;
         border-radius: 2px;
         font-size: 0.8rem;
       
     }
 }

 .main-wrapper{
     @include standart-flex(row, space-around, center);
     flex-wrap: wrap;
 }